.form-login-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-login-container input {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-login-container button {
  padding: 10px;
  background: #e5a61e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-login-container button:hover {
  background: #ca893e;
}
